
body{
    
      background-color:yellowgreen; 
     /* background-image: url("./images/u5.jpeg"); */
     background-position: center; 
     background-repeat: no-repeat;
     background-size: cover;
     
 }
 /* body.c{
  background-image: url("./images/li4.jpg");
  background-position: center  ; 
  background-repeat: no-repeat;
  background-size: cover;
  
      
 } */
 
 .container{
     margin-left: auto;
     margin-right:auto;
     width:1024px;
     
 }
 
 header{
 height: 100px;
 text-align: center;
 
 }
  nav{
     background-color:rgba(0, 0, 0, 0.338);
     height:48px;
     width:1024px;
     text-align:center;
     /* padding-top:14px; */
     padding-bottom: 14px;
 
 } 
 #section1{
 
     height: 400px;
     width:1024px;
     text-align: center;
     padding-left: 20px;
     padding-right:20px;
     padding-top: 80px;
 
 }
 footer{
   background-color:yellowgreen; 
     background-color:rgba(0, 0, 0, 0.338);
     text-align:center;
     height:25px;
     width:1024px;
     padding-top: 30px;
     padding-bottom: 15px;
   
   
 }
 h1{
     font-size: 80px;
     color:black;
     font-style: italic;
     
     }
 
     .button{
         background-color:yellowgreen;
         text-decoration: none;
         padding: 15px 32px;
         font-size: 20px;
         margin-left: 360px;
         
     }
     
     a{
         color:#E90303;
         font-size: 16px;
     }
     nav a{
         /* text-decoration: none; */
         /* font-size: 20px; */
       /* padding-left: 10px;
         padding-right: 10px;  */
     }
     #icn{
         font-size:30px; 
         color:white;
         text-decoration: none;
         padding-left: 15px;
         padding-right: 15px;   
     }
     ul{
         margin:0px;
         padding:0px;
         list-style:none;
         font-size:20px;
         padding-left: 35%;
       }
       ul li{
         margin:0px;
         padding:0px;  
         float:left;
         width:140px;
         height:60px;
         font-size: 20px;
         line-height: 60px;
         /* background-color:black ; */
     }
     ul li a{
         margin:0px;
         padding:0px; 
         text-decoration: none;
         display: block;   
         color:#E90303;
         font-size: 105%;
     
     }
     ul li a:hover{
         margin:0px;
         padding:0px; 
         background-color:rgba(255, 255, 255, 0.788);
         transition:1s all ease;
     }
     ul li ul li{
         margin:0px;
         padding:0px; 
         display: none;
         background-color:yellowgreen;
         height: 60px;
     }
     ul li:hover ul li{
         margin:0px;
         padding:0px; 
         display: block;
     }
     .container1{
         margin-left: auto;
         margin-right:auto;
         width:1024px;
     }
     .slideshow{
        margin:0 auto;
        padding-top:50px;
        height: 700px;
        /* background:rgb(114, 9, 9); */
        box-sizing:border-box;
        }
        .content{
        margin:auto;
        width:190px;
        perspective:1000px;
        position:relative;
        padding-top:80px;
        }
        .content-carrousel{
        width:100%;
        position:absolute;
        float:right;
        animation:rotar 15s infinite linear;
        transform-style: preserve-3d;
        }
        .content-carrousel:hover{
        animation-play-state:paused;
        cursor:pointer;
        }
        .content-carrousel figure{
            width:100%;
            height: 180px;
            border:1px solid #4d444d;
            overflow:hidden;
            position: absolute;
        }
        .content-carrousel figure:nth-child(1)
        {
        transform: rotateY(0deg)translateZ(300px);
        }
        .content-carrousel figure:nth-child(2)
        {
        transform: rotateY(40deg)translateZ(300px);
        }
        .content-carrousel figure:nth-child(3)
        {
        transform: rotateY(80deg)translateZ(300px);
        }
        .content-carrousel figure:nth-child(4)
        {
        transform: rotateY(120deg)translateZ(300px);
        }
        .content-carrousel figure:nth-child(5)
        {
        transform: rotateY(160deg)translateZ(300px);
        }
        .content-carrousel figure:nth-child(6)
        {
        transform: rotateY(200deg)translateZ(300px);
        }
        .content-carrousel figure:nth-child(7)
        {
        transform: rotateY(240deg)translateZ(300px);
        }
        .content-carrousel figure:nth-child(8)
        {
        transform: rotateY(280deg)translateZ(300px);
        }
        .content-carrousel figure:nth-child(9)
        {
        transform: rotateY(320deg)translateZ(300px);
        }
        .shadow{
            position: absolute;
            box-shadow: 0px 0px 20px 0px #000;
            border-radius: 2px;
        }
        .content-carrousel img{
            image-rendering:  auto; 
            transition:all 300ms;
            width:100%;
            height: 100%;
            
        }
        .content-carrousel img:hover{
            transform: scale(1.2);
            transition:all 300ms;
            /* transition: transform 0.8s;
          transform-style: preserve-3d; */
        }
        @keyframes rotar{
            from{
                transform:rotateY(0deg);
            }to{
                transform: rotateY(360deg);
            }
            }
          .overlay {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          height: 100%;
          width: 100%;
          opacity: 0;
          transition: .5s ease;
          background-color:grey;
        }
        .shadow:hover .overlay {
          opacity: 1;
        }
        .text {
          color: white;
          font-size: 13px;
          position: absolute;
          /* font-weight: lighter; */
          top:10%;
          left: 0%;
          /* -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%); */
          /* transform: translate(-50%, -50%); */
          text-align: center;
        }
        .button{
        
          background-color: #4CAF50;
          border: none;
          color: white;
          padding: 10px 10px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 14px;
          margin: 142px 50px;
          cursor: pointer;
               
           }
         
        
        

 